@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/Inter-VariableFont_slnt\,wght.ttf') format("truetype-variations");
    font-weight: 1 999;
}

:root {
    /* primary colors */
    --clr-primary-300: hsl(35, 77%, 62%);
    --clr-primary-500: hsl(5, 85%, 63%);

    /* neutral colors */
    --clr-neutral-100: hsl(0, 0%, 100%); 
    --clr-neutral-200: hsl(36, 100%, 99%); 
    --clr-neutral-400: hsl(233, 8%, 79%); 
    --clr-neutral-700: hsl(236, 13%, 42%); 
    --clr-neutral-900: hsl(240, 100%, 5%); 
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    transition: all .3s;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--clr-neutral-200);
    display: flex;
    place-content: center;
}

main {
    margin: 80px 30px;
    max-width: 1030px;
    display: flex;
    flex-direction: column;
    gap: 2.7rem;
    position: relative;
}

nav {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    height: 2.5rem;
    width: 4rem;
}

.links {
    display: flex;
    gap: 37px;
}

.links a {
    text-decoration: none;
    color: var(--clr-neutral-700);
    font-size: 15px;
    font-weight: 450;
    cursor: pointer;
}

.links a:hover,
.footline__article__content h4:hover {
    color: var(--clr-primary-500);
}

.headline {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
}

.headline__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 9fr 6fr;
    gap: 2rem;
}

.headline__main__image {
    grid-column: span 2;
    background-image: url("/assets/images/image-web-3-desktop.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.headline__main__heading {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.headline__main h1 {
    font-size: 52px;
    font-weight: 800;
    line-height: 1;
    align-items: center;
}

.headline__main__desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.headline__main__desc p {
    font-size: 14px;
    line-height: 1.5;
    color: var(--clr-neutral-700);
}

.headline__main__desc button {
    background-color: var(--clr-primary-500);
    color: var(--clr-neutral-200);
    padding: .7rem 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
    font-weight: 650;
    border: none;
    cursor: pointer;
}

.headline__main__desc button:hover {
    background-color: var(--clr-neutral-900);
}

.headline__other {
    background-color: var(--clr-neutral-900);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;
}

.headline__other h2 {
    color: var(--clr-primary-300);
    font-size: 38px;
    font-weight: 700;
}

.headline__other__articles {
    display: flex;
    flex-direction: column;
}

.new-article {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-top: 1px solid hsla(236, 13%, 42%, .8);
    padding: 1.5rem 0;
}

#first_article {
    border-top: none;
}

.new-article h3 {
    color: var(--clr-neutral-200);
    font-size: 18px;
    font-weight: 800;
    cursor: pointer;
}

.new-article h3:hover {
    color: var(--clr-primary-300);
}

.new-article p {
    color: var(--clr-neutral-400);
    font-size: 14px;
    line-height: 2;
}

.footline {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.footline__articles {
    display: grid;
    grid-template-columns: 2fr 4.5fr;
    gap: 1rem;
}

.footline__article__image img {
    height: 120px;
    aspect-ratio: 4/5;
}

.footline__article__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footline__article__content span {
    font-size: 30px;
    font-weight: 750;
    color: var(--clr-neutral-400);
}

.footline__article__content h4 {
    font-size: 18px;
    font-weight: 800;
    color: var(--clr-neutral-900);
    cursor: pointer;
}

.footline__article__content p {
    font-size: 14px;
    line-height: 1.5;
    color: var(--clr-neutral-700);
}

@media (max-width: 1050px) {
    /* .headline__main__image img {
        height: auto;
    } */

    .headline__main__desc {
        gap: 3rem;
        justify-content: center;
    }
}

@media (max-width: 1040px) {
    .headline {
        grid-template-columns: 6fr 4fr;
    }

    .headline__main {
        grid-template-columns: 1fr;
        grid-template-rows: 1.5fr 1fr 1fr;
        gap: 1rem;
    }
    
    .headline__main__image {
        background-size: cover;
        grid-column: span 1;
    }

    .headline__main h1 {
        line-height: 1.2;
    }

    .footline {
        gap: 1rem;
    }
}

@media (max-width: 950px) {
    .headline__main__image {
        background-size: contain;
    }

    .footline__articles {
        grid-template-columns: 1fr 2fr;
        gap: .5rem;
    }
} 

@media (max-width: 854px) {
    .headline {
        grid-template-columns: 1fr 1fr;
    }

    .headline__main {
        grid-template-rows: 1fr 1fr 1fr;
    }

    .headline__main__image {
        background-size: cover;
    }

    .headline__main__desc {
        justify-content: flex-end;
        gap: 2rem;
    }

    .footline__article__content p {
        font-size: 13px;
    }
}

@media (max-width: 750px) {
    /* change it to mobile */
    main {
        gap: 0;
    }

    nav {
        position: sticky;
        top: 0;
        background-color: var(--clr-neutral-200);
    }

    .headline {
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }

    .headline__main {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .headline__main__image {
        background-image: url("/assets/images/image-web-3-mobile.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        height: 0;
        padding-top: 87.33%;
    }

    .headline__main__heading,
    .headline__main__desc {
        height: max-content;
    }

    .footline {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
    }

    .footline__articles {
        grid-template-columns: 100px auto;
        gap: 1rem;
    }
}

@media (max-width: 630px) {
    .links {
        display: none;
    }
}